body { 
    overflow-x: hidden; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;        
  }

  
/* Header */
.logo {
    padding: 0px 0px 0px 10px;
    height: 70%;
}

.header {
  z-index: 9999;
  box-shadow: 0px 1px 3px 3px gray;
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  padding-top: 3px;

}

.header a {
    float: left;
    color:black;
    text-align: center;
    padding: 12px 40px 22px 40px;
    text-decoration: none;
    font-size: 1.25rem; 
    line-height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

.header-right {
    float: right;
    padding: 10px 40px;
}

/* Video */

.video {
    z-index:-1;
    top:0;
    left:0;
    width:100%; 
    height:850px;
    padding-top: 80px;
}

@media screen and (max-width:1200px) {
    iframe {
        height: 100%;
        width: 100%;
    }
}

/* Imagem com os textos lá */
.velholista {
    position: relative;
    float: left;
}

.circuloazul {
    position: relative;
    float: left;
    right: 845px;
    opacity:0.3;
}

@media (max-width: 1200px) {
    #velholista {
        display:none;
    }
}

#texto1 {
    font-size: larger;
    position: relative;
    top: -380px;
    left: 850px;
    max-width: 490px;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}


@media (max-width: 1200px){
    #texto1 {
        top: 0;
        left: 0;
        float: left;
        font-size: larger;
        max-width: 500px;
        word-wrap: break-word;
        color: rgb(89, 89, 89);
        text-align: center;
    }
}

#texto2 {
    font-size: larger;
    position: relative;
    top: 441px;
    left: 670px;
    max-width: 400px;
    z-index: 1;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}

@media (max-width: 1200px){
    #texto2 {
        float: left;
        top: 0;
        left: 0;
        padding-top: 30px;
        font-size: larger;
        max-width: 400px;
        word-wrap: break-word;
        color: rgb(89, 89, 89);
        text-align: center;
    }
}

#box{
    height: 160px;
    background-color: rgb(61, 107, 181);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#texto-legal {
    text-align: center;
    max-width: 850px;
    word-wrap: break-word;
    font-size: larger;
    font-style: italic;
    color: white;
}
 
/* Imagem das linhas 2 */
.techroom {
    position: relative;
    float: right;
    right: -30px;
}

.textosala1 {
    font-size: large;
    color: rgb(89, 89, 89);
    word-wrap: break-word;
    max-width: 400px;
    text-align:right;
    position: relative;
    top: 130px;
}

.textosala2 {
    position: relative;
    top: -140px;
    font-size: large;
    color: rgb(89, 89, 89);
    margin: auto;
    word-wrap: break-word;
    max-width: 400px;
    text-align:right;
}

#linha3 {
    position: relative;
    right: -640px;
    z-index:-1;
}

#linha4 {
    position: relative;
    top: 300px;
    left: 370px;
    z-index:-1;
}

#essaimagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 100px;
}

#modulostitulo {
    text-align: center;
    font-weight: 200;
    padding-top: 25px;
}


#modulos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 10px solid transparent;
    padding-top: 15px;
    border-image: url(assets/agua.png) 30 stretch;
}

.fundocinza {
    background-color: rgb(242, 242, 242);
}

h1{
    font-size: xx-large;
    color: rgb(61, 107, 181);
}

/*.grade {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}*/ 
/* Grade 1 */




.grid-item {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  padding: 10px 30px 0px 0px;
  color: rgb(89, 89, 89);
}

.icon{
    color:rgb(92,195,173);
}

.icon2{
    color:rgb(50,185,209);
}

.icon3{
    color:rgb(60,106,179);
}

.linha {
    padding: 70px 30px 0px 00px;
}

/* Grade 2 com Ipad */

.result{
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    font-weight: 200;
}

/*
color:rgb(92,195,173);
color:rgb(50,185,209);
color:rgb(60,106,179);
*/

/* Eu sei que as classes não correspondem as cores mas honestamente eu não to nem aí */
.azul {
    color:rgb(92,195,173);
}

.azulclaro {
    color:rgb(50,185,209);
}

.verde {
    color:rgb(60,106,179);
}

.ipadgrid {
    padding-top: 100px;
}

@media screen and (max-width: 1200px) {
    .ipad {
        display: none;
    }
}

.ipad {
    position: relative;
}

.grid-number {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: rgb(61, 107, 181);
}

.grid-item2 {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    font-size: large;
    padding: 10px 70px 20px 10px;
    margin: auto;
    color: rgb(89, 89, 89);
  }

  .grid-item3 {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
    margin-left: -30px;
    padding: 10px 30px 10px 10px;
  }
  

.ipadimg {
    height: 70%;
    border-radius: 5% 5% 5% 5%;
    z-index: -1;
    padding: 30px 30px 0px 30px;
}



/* Linedata */

.linedata{
    position: relative;
    width: 40%;
}

.agualateral {
    float:right;
    height:0;
    position: relative;
    bottom: 100px;
}

.textolinedata1 {
    font-size: large;
    position: relative;
    top: -50px;
    left: -750px;
    max-width: 800px;
    color: rgb(89, 89, 89); 
}

.textolinedata2 {
    font-size: large;
    position: relative;
    top: 100px;
    right: 100px;
    color: rgb(89, 89, 89);
}

/* Mapa Brasil */

.mapabrasil {
    float: right;
}
/*

.textomapa1 {
    font-size: medium;
    position: relative;
    max-width: 1300px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textomapa2 {
    font-size: medium;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89); 
    margin: auto;
}

.textomapa3 {
    font-size: medium;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textomapa4 {
    font-size: medium;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
} */

/* Logos com circulos */

.logoevo {
    float: right;
}

.logoaneel {
    overflow: hidden;
    float: left;
}

.linhaazul {
    top: 30px;
    right: -570px;
    float: right;
}

.evo {
    padding-top: -50px;
}

.textosolto {
    position: relative;
    font-size: large;
    top: 0px;
    right: -300px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textoaneel {
    position: relative;
    font-size: large;
    top: 170px;
    left: 0px;
    word-wrap: break-word;
    text-align: left;
    color: rgb(89, 89, 89);
}

 .textoevo {
    font-size: large;
    position: relative;
    top: 270px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
} 

/* Circulos */

.circulo1 {
    margin: auto;
}

.circulo2 {
    float: right;
    margin: auto;
}

.circulo3 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: -80px;
}
/* Página de Contato */

.contato {
    overflow: hidden;
}

.formulario {
    padding-top: 100px;
}
.formulario input {
    width: 43%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type="textbox"] {
    width: 91%;
    height: 30%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type="submit"] {
    width: 91%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(50, 185, 201);
    color: white;
}



.zapzap {
    margin: auto;
    text-decoration: none;
    text-align: center;
    padding-top: 23%;
}

