body { 
    overflow-x: hidden; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;        
  }

  
/* Header */
.logo {
    padding: 10px 0px 0px 10px;
    height: 80%;
}

.header {
  z-index: 9999;
  box-shadow: 0px 1px 3px 3px gray;
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  padding-top: 3px;
}

.header a {
    float: left;
    color:black;
    text-align: center;
    padding: 12px 40px 22px 40px;
    text-decoration: none;
    font-size: 1.15rem; 
    line-height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

.header-right {
    float: right;
    padding: 10px 40px;
}

.headermobi {
    display: none;
}

@media only screen and (max-width:768px) {
    .header {
        display: none;
    }
    .headermobi {
        position: fixed;
        display:inline;
        background-color: white;
        width: 100%;
        z-index: 30;
    }
    .logo {
        width: 50%;
    }
}
/* Video */

iframe {
    z-index:-1;
    top:0;
    left:0;
    width:100%; 
    height:650px;
}

@media screen and (max-width:1200px) {
    iframe {
        height: 100%;
        width: 100%;
    }
}
.home-texto {
    display: none;
}

.mobilevid {
    display: none;
}

.vidwrapMobile {
    display: none;
}

@media only screen and (max-width:768px) {
    .home {
        padding-top: 150px;
    }
    .home-texto {
        display: block;
    }
    .home-texto p {
        font-size: 18px;
    }
    .home-line {
        border: 1px solid rgb(0,67,96);
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .vidwrap {
        display:none;
    }  
    .vidwrapMobile {
        display: block;
        cursor:pointer;
        background: url('assets/videoMobile.PNG');   
        background-size: 100%; 
        background-repeat: no-repeat;
    }
    .playMobile img {
        width: 50%;
        display: block;  
        margin-left: auto;  
        margin-right: auto;   
    }
    .mobilevid {
        display: inline-block;
        padding-top: 150px;
    }     
}

.play img {
    width: 30%;
    margin-top: 9%;
    display: block;  
    margin-left: auto;  
    margin-right: auto;   
}

.vidwrap {
    width:100%;
    height:650px;
    cursor:pointer;
    background: url('assets/video2.PNG');   
    background-size: 100%; 
    background-repeat: no-repeat;
}

/* Imagem com os textos lá */
.velholista {
    position: relative;
    float: left;
}


.circuloazul {
    position: relative;
    float: left;
    right: 845px;
    opacity:0.3;
}
.overlay {
    display: none;
}

.velho {
    display: none;
}

#texto1 {
    font-size: larger;
    position: relative;
    top: -380px;
    left: 850px;
    max-width: 490px;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}
.texto1 {
    font-size: larger;
    position: relative;
    top: -380px;
    left: 850px;
    max-width: 490px;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}

#texto2 {
    font-size: larger;
    position: relative;
    top: 441px;
    left: 670px;
    max-width: 400px;
    z-index: 1;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}

.conector1 {
    display: none;
}
.conector2 {
    display:none;
}

@media only screen and (max-width: 768px){
    .velholista {
        display:none !important;
    }
    #texto1 {
        position: static;
        top: 0;
        left: 0;
        max-width: 100%;
        font-size: larger;
        word-wrap: break-word;
        color: rgb(89, 89, 89);
        text-align: center;
    }
    .texto1 {
        position: static;
        top: 0;
        left: 0;
        max-width: 100%;
        font-size: larger;
        word-wrap: break-word;
        color: rgb(89, 89, 89);
        text-align: center;
    }
    #texto2 {
        position:static;
        max-width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
    .velho {
        display: block;
        max-width: 100%;
    }
    .circuloazul {
        display: none;
    }
    .velho-mobile {
        width: 100%;
        background: url('assets/velholista.jpg');
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .overlay {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(173,216,230,0.5);
    }
    .conector1 {
        display: block;
    }
    .conector1 img {
        width: 65%;
    }
    .conector2 {
        display: block;
        margin-bottom: 2rem;
        text-align: right;
    }
    .conector2 img {
        width: 65%;
    }
}

.box{
     
}

.texto-legal { 
    background-color: rgb(61, 107, 181);
    display: block;
    font-size: larger;
    font-style: italic;
    color: white;
}

@media only screen and (max-width:768px) {
    
    .texto-legal {
        font-size: medium;
        width: 100%;
    }
}
 
/* Imagem das linhas 2 */
.techroom {
    position: relative;
    float: right;
    right: -30px;
}

.textosala1 {
    font-size: large;
    color: rgb(89, 89, 89);
    word-wrap: break-word;
    max-width: 400px;
    text-align:right;
    position: relative;
    top: 130px;
}

.textosala2 {
    position: relative;
    top: -160px;
    font-size: large;
    color: rgb(89, 89, 89);
    margin: auto;
    word-wrap: break-word;
    max-width: 400px;
    text-align:right;
}

.textomobile {
    visibility: hidden;
}

.datamobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .tech {
        display: none !important;
    }
    .textomobile {
        visibility: visible;
    }
    .textotech {
        font-size: large;
        color: rgb(89, 89, 89);
        margin: auto;
        margin: auto;
        word-wrap: break-word;
        text-align:center;
        margin-top: 100px;
    }
    .datamobile {
        display: block;
    }
    .datamobile img {
        max-width: 100%;
    }
}

.essaimagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: -70px;
}
.essaimagem-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .essaimagem {
        display: none;
    }
    .essaimagem-mobile {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
}

#modulostitulo {
    text-align: center;
    font-weight: 200;
    padding-top: 25px;
}


#modulos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid transparent;
    padding-top: 15px;
    border-image: url(assets/agua.png) 30 stretch;
}

@media only screen and (max-width:768px) {
    #modulos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border: 10px solid transparent;
        padding-top: 15px;
        border-image: url(assets/agua.png) 30 stretch;
    }
}

.fundocinza {
    background-color: rgb(242, 242, 242);
}

h1{
    font-size: xx-large;
    color: rgb(61, 107, 181);
}

/*.grade {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}*/ 
/* Grade 1 */




.grid-item {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  padding: 10px 15px 0px 15px;
  color: rgb(89, 89, 89);
}

.icon{
    color:rgb(92,195,173);
}

.icon2{
    color:rgb(50,185,209);
}

.icon3{
    color:rgb(60,106,179);
}

.linha {
    padding: 70px 0px 0px 00px;
}

/* Grade 2 com Ipad */

.result{
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    font-weight: 200;
}
.result-mobile {
    display: none;
}
@media only screen and (max-width:768px) {
    .result {
        display: none;
    }
    .result-mobile {
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        font-weight: 200;
    }
}
/*
color:rgb(92,195,173);
color:rgb(50,185,209);
color:rgb(60,106,179);
*/

/* Eu sei que as classes não correspondem as cores mas honestamente eu não to nem aí */
.azul {
    color:rgb(92,195,173);
}

.azulclaro {
    color:rgb(50,185,209);
}

.verde {
    color:rgb(60,106,179);
}

.ipadgrid {
    padding-top: 100px;
}
.ipad {
    position: relative;
}

.grid-number {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: rgb(61, 107, 181);
}

.grid-item2 {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    font-size: medium;
    padding: 5px 70px 10px 5px;
    margin: auto;
    color: rgb(89, 89, 89);
  }

  .grid-item3 {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
    padding: 20px 30px 5px 10px;
  }

  .ipadgrid h1 {
      margin-bottom: 0px;
  }
  

.ipadimg {
    height: 60%;
    border-radius: 5% 5% 5% 5%;
    z-index: -1;
    padding: 30px 30px 0px 30px;
}

.grid-item {
    padding-bottom: 10px;
} 

@media only screen and (max-width:768px) {
    .grid-item2 {
        text-align: center;
        display: block;
        padding-left: 10%;
    }

    .ipadgrid h1 {
        font-size: xxx-large;
    }
    .ipad {
        text-align: center;
    }
    .ipadimg {
        height: 100%;
        max-width: 100%;
        padding: 0;
    }
}


@media only screen and (max-width:468px) {
    .ipadimg {
        height: 50%;
        max-width: 100%;
        padding: 0;
    }
    .ipad {
        margin-bottom: -100%;
    }
}

@media only screen and (min-width: 769px) {
    .result {
        margin-left:-60px;
    }
    .grid-item3 {
        margin-left: -30px;
    }
}


/* Linedata */

.linedata{
    position: relative;
}

.agualateral {
    float:right;
    height:0;
    position: relative;
    bottom: 80px;
}

.textolinedata1 {
    font-size: large;
    position: relative;
    top: -50px;
    left: -750px;
    max-width: 800px;
    color: rgb(89, 89, 89); 
}

.textolinedata2 {
    font-size: large;
    position: relative;
    top: 100px;
    right: 100px;
    color: rgb(89, 89, 89);
}

@media only screen and (max-width:768px) {
    .linedata{
        display: none;
    }
    .agualateral {
        display: none;
    }
}

/* Mapa Brasil */

.mapabrasil {
    float: right;
}
/*

.textomapa1 {
    font-size: medium;
    position: relative;
    max-width: 1300px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textomapa2 {
    font-size: medium;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89); 
    margin: auto;
}

.textomapa3 {
    font-size: medium;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textomapa4 {
    font-size: medium;
    position: relative;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
} */

/* Logos com circulos */

.logoevo {
    float: right;
}


.logoaneel {
    overflow: hidden;
    float: left;
}

.linhaazul {
    top: 30px;
    right: -570px;
    float: right;
}

.evo {
    position: relative;
    bottom: 300px;
    margin-bottom: 180px;
    height: 0;
}


.textosolto {
    position: relative;
    font-size: large;
    top: 0px;
    right: -300px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textoaneel {
    position: relative;
    font-size: large;
    top: 145px;
    left: 0px;
    word-wrap: break-word;
    text-align: left;
    color: rgb(89, 89, 89);
}

 .textoevo {
    font-size: large;
    position: relative;
    top: 270px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
} 

@media screen and (min-width: 1500px) {
    .evo {
        position: relative;
        bottom: 300px;
        margin-bottom: 280px;
        height: 0;
    }
}

.logosmobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .circlogos {
        display: none;
    }
    .logosmobile {
        display: block;
    }
    .mapabrasil {
        display: none;
    }
    .linhaazul {
        display: none;
    }
    .logoevo {
        display: none;
    }
    .logoaneel {
        display: none;
    }
    .logosmobile {
        position: static;
        font-size: large;
        max-width: 600px;
        word-wrap: break-word;
        text-align: center;
        color: rgb(89, 89, 89);
        margin: auto;
        padding-top: 100px;
    }
    /* .textosolto {
        position: static;
        font-size: large;
        max-width: 600px;
        word-wrap: break-word;
        text-align: center;
        color: rgb(89, 89, 89);
        margin: auto;
    }
    .textoaneel {
        position: static;
        font-size: large;
        max-width: 600px;
        word-wrap: break-word;
        text-align: center;
        color: rgb(89, 89, 89);
        margin: auto;
        float: left;
    }
    .textoevo {
        position: static;
        font-size: large;
        max-width: 600px;
        float: left;
        word-wrap: break-word;
        text-align: center;
        color: rgb(89, 89, 89);
        margin: auto;
        padding-bottom: 300px;
    } */

}
/* Circulos */

.circulo1 {
    margin: auto;

}

.circulo2 {
    margin: auto;
}

.circulo2 img {
    float: right;
}

.circulo3 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: -12%;
}

.circulosmobile {
    display: none;
}

@media only screen and (max-width:768px) {
    .circulosmobile {
        display: block;
        padding-top: 100px;
    }
    blockquote {
        color: rgb(89, 89, 89);
        font-size: large;
        text-align: center;
    }
    blockquote::before {
        content: open-quote;
        content: "\201C";
        font-size: 60px;
    }
    .circulosmobile div {
        text-align: center;
        font-size: small;
        font-style: italic;
        color: rgb(119, 119, 119);
    }
}
/* Página de Contato */

.contato {
    overflow: hidden;
}

.formulario {
    padding-top: 100px;
}
.formulario input {
    width: 43%;
    padding: 1.2% 2%;
    margin: 0.8% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type="textbox"] {
    width: 90.5%;
    height: 30%;
    /* padding: 12px 20px;
    margin: 8px 20px; */
    padding: 1.2% 2%;
    margin: 0.8% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type="submit"] {
    width: 90.5%;
    padding: 1.2% 2%;
    margin: 0.8% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(50, 185, 201);
    color: white;
}



.zapzap {
    margin: auto;
    text-align: center;
    margin: auto;   
    margin-right: 7%;
    padding: 4em 1.5em;
}
.zapzap a {
    text-decoration: none;
    color: rgb(89, 89, 89);
}

.zapicone {
    width: 20%;
}

.zapzapmobi {
    display: none;
}

.meialua {
    display:none;
}

@media only screen and (max-width:768px) {
    .contact {
        display: none;
    }
    .meialua {
        display: block;
        margin: auto;
        line-height: 100px;
        text-align: center;
        height: 100px;
        background-color: rgb(50, 185, 201);
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 90%;
        border: rgb(50, 185, 201);
        font-size: x-large;
        color: white;
        margin-bottom: -50px;
    }

    .formulario input {
        width: 90%;
        padding: 3% 2%;
        margin: 2.8% 2%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .formulario input[type="textbox"] {
        width: 90%;
        height: 25%;
        /* padding: 12px 20px;
        margin: 8px 20px; */
        padding: 1.2% 2%;
        margin: 0.8% 2%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .formulario input[type="submit"] {
        width: 90%;
        padding: 1.2% 2%;
        margin: 2% 2%;
        margin-bottom: 25%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color:rgb(50, 185, 201);
        color: white;
        margin-bottom: 300px;
    }
    .zapzap {
        display: none;
    }
    .zapzapmobi {
        display: inline-block;
        margin: auto;
        text-align: center;
    }
    .zapzapmobi a {
        text-decoration: none;
        color: rgb(89, 89, 89);
    }   
    .zapicone {
        width: 10%;
    } 
}
