body { 
    overflow-x: hidden; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
      
  }

  
/* Header */
.logo {
    padding: 0px 0px 0px 10px;
    width: 240px;
    height: 89px;
}

.header {
  z-index: 9999;
  box-shadow: 0px 1px 3px 3px gray;
  background-color: white;
  height: 100px;
  position: fixed;
  width: 100%;
  padding-top: 3px;

}

.header a {
    float: left;
    color:black;
    text-align: center;
    padding: 22px 40px 22px 40px;
    text-decoration: none;
    font-size: 1.25rem; 
    line-height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

.header-right {
    float: right;
    padding: 10px 30px;
}

/* Video */

iframe {
    z-index:-1;
    top:0;
    left:0;
    width:100%; 
    height:850px;
    padding-top: 100px;
}

@media screen and (max-width:1200px) {
    iframe {
        height: 100%;
        width: 100%;
    }
}

/* Imagem com os textos lá */
#velholista {
    position: relative;
    float: left
}

@media screen and (max-width: 1200px) {
    #velholista {
        display:none;
    }
}

#linha1 {
    position: relative;
    top: -250px;
    left: -70px;
    z-index:-1;
}

#texto1 {
    font-size: larger;
    position: relative;
    top: -380px;
    left: 850px;
    max-width: 500px;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}

#linha2 {
    position: relative;
    top: 0px;
    left: -570px;
    z-index:-1;
}

#texto2 {
    font-size: larger;
    position: relative;
    top: -241px;
    left: 670px;
    max-width: 400px;
    word-wrap: break-word;
    padding-bottom: 30px;
    color: rgb(89, 89, 89);
}



#box{
    height: 160px;
    background-color: rgb(61, 107, 181);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#texto-legal {
    text-align: center;
    max-width: 850px;
    word-wrap: break-word;
    font-size: larger;
    font-style: italic;
    color: white;
}

#techroom {
    position: relative;
    float: right;
}

#linha3 {
    position: relative;
    right: -640px;
    z-index:-1;
}

#linha4 {
    position: relative;
    top: 300px;
    left: 370px;
    z-index:-1;
}

#essaimagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 100px;
}

#modulostitulo {
    text-align: center;
    font-weight: 200;
    padding-top: 25px;
}

#modulos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 10px solid transparent;
    padding-top: 15px;
    border-image: url(assets/agua.png) 30 stretch;
}

.fundocinza {
    background-color: rgb(242, 242, 242);
}

h1{
    font-size: xx-large;
    color: rgb(61, 107, 181);
}

/*.grade {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}*/ 
/* Grade 1 */
.grid-item {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  padding: 10px 30px 0px 0px;
  color: rgb(89, 89, 89);
}

.icon{
    color: rgb(61, 107, 181);
}

.icon2{
    color: lightblue;
}

.icon3{
    color: cyan;    
}

.linha {
    padding: 70px 30px 0px 00px;
}

/* Grade 2 com Ipad */

.result{
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    font-weight: 200;
}

.ipadgrid {
    padding-top: 200px;
}

@media screen and (max-width: 1200px) {
    .ipad {
        display: none;
    }
}

.ipad {
    position: relative;
}

.grid-number {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: rgb(61, 107, 181);
}

.grid-item2 {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    font-size: large;
    padding: 10px 70px 20px 10px;
    margin: auto;
    color: rgb(89, 89, 89);
  }

  .grid-item3 {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
    margin-left: -30px;
    padding: 10px 30px 10px 10px;
    color: rgb(89, 89, 89);
  }
  

.ipadimg {
    height: 846px;
    width: 647px;
    border-radius: 5% 5% 5% 5%;
    z-index: -1;
    padding: 30px 30px 30px 30px;
}



/* Linedata */

.linedata{
    position: relative;
    padding-top: 100px;
    height: 800px;
}

.textolinedata1 {
    font-size: large;
    position: relative;
    top: -740px;
    left: 300px;
    max-width: 800px;
    word-wrap: break-word;
    color: rgb(89, 89, 89); 
}

.textolinedata2 {
    font-size: large;
    position: relative;
    top: -590px;
    left: 730px;
    max-width: 500px;
    word-wrap: break-word;
    color: rgb(89, 89, 89);
}

/* Mapa Brasil */

.mapabrasil {
    position: relative; 
    float: right;
}

.textomapa1 {
    font-size: large;
    position: relative;
    top: 140px;
    left: 10px;
    max-width: 1300px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textomapa2 {
    font-size: large;
    position: relative;
    top: 315px;
    left: 130px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89); 
    margin: auto;
}

.textomapa3 {
    font-size: large;
    position: relative;
    top: 350px;
    left: 160px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textomapa4 {
    font-size: large;
    position: relative;
    top: 400px;
    left: 290px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}

/* Logos com circulos */

.logoevo {
    position: relative;
    float: right;
    bottom: -212px;
}

.linhaazul {
    position: relative;
    top: 30px;
    right: -570px;
    float: right;
    margin: auto;
}

.textosolto {
    position: relative;
    font-size: large;
    top: 30px;
    right: -400px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    color: rgb(89, 89, 89);
    margin: auto;
}

.textoaneel {
    position: relative;
    font-size: large;
    top: 420px;
    left: 520px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: left;
    color: rgb(89, 89, 89);
}

/*
.textomapa4 {
    font-size: large;
    position: relative;
    top: 400px;
    left: 290px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}
*/

.textoevo {
    font-size: large;
    position: relative;
    top: 590px;
    right: 60px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: right;
    color: rgb(89, 89, 89);
    margin: auto;
}
.line {
    border-bottom: 1px solid blue;
    display: block;
    margin: auto;
}

/* Circulos */

.circulos {
    overflow: hidden;
}

.circulo2 {
    float: right;
    position: absolute;
    right: 0;
}

.circulo3 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: -80px;
}

.cite {
    font-size: large;
    max-width: 400px;
    word-wrap: break-word;
    text-align: center;
    color:rgb(89, 89, 89);
}

.cite:before {
    content: open-quote;
}

.cite:after {
    content: close-quote;
}

.name {
    font-size: small;
    color:rgb(89, 89, 89);
    max-width: 100px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 10px;
}

.citacao1 {
    position: relative;
    height: 0;
    top: 200px;
    left: 50px;
}

.citacao2 {
    position: relative;
    z-index: 1;
    height: 0;
    right: -1200px;
    top: 60px;
    margin: auto;
}

.citacao3 {
    position: relative;
    z-index: 1;
    height: 0;
    margin: auto;
    top: 700px;
    left: 650px;
}

/* Página de Contato */



